.todo-app__button {
    padding: 30px 60px;
    margin: 0 0 20px 0;
    border: none;
    background-color: yellowgreen;
    color: green;
    cursor: auto;
}

.todo-app__button:hover {
    background-color: #33614C;
}
